/**
 * Ed Hebert 
 * ehebert@fas.harvard.edu
 * DWA15 Project 3 - Javascript
 */

body {
    margin: 0px;
    border: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #83cee5;
}


canvas {
    margin: 0px;
    padding: 0px;
    position: absolute;
    background-color: transparent;
    /* keep the canvas above video */
    z-index: 2;
}

/*full screen video in the background of the HTML canvas*/
video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    -webkit-transform: translate(-50%, -50%);     
    -moz-transform: translate(-50%, -50%);  
    -ms-transform: translate(-50%, -50%);        
    /* behind canvas */ 
    z-index: 1;   
}

/* hide video from mobile devices */
@media screen and (max-width: 1024px) {
    video {
        display: none; 
    } 
}