/**
 * Ed Hebert 
 * ehebert@fas.harvard.edu
 * DWA15 Project 3 - Javascript
 */

body {
    margin: 0px;
    border: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #83cee5;
    color: #fff;
}

header {
    position: absolute;
    bottom: 75px;
    right: 75px;
    z-index: 3;
    text-align: right;
}

#buttons {
    z-index: 4;
    position: absolute;
    right: 75px;
    top: 25px;
    text-align: right;
}

button, button:visited {
    border: none;
    background: #f0b248;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: "rooney-web",sans-serif;
    font-weight:300;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

button:hover, button:active {
    background: #fcbc3c;
    text-decoration: none;
}

button:focus {
    outline: none;
}


h1 {
  font-family: "league-gothic",sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 105px;
  line-height: 120px;
  margin: 0;
  border-bottom: 1px solid #fff;
}

h2 {
    font-family: "rooney-web",sans-serif;
    margin: 0;
    font-weight: 300;
    font-size: 20.5px;
    padding-top: 10px;
}

canvas {
    margin: 0px;
    padding: 0px;
    position: absolute;
    background-color: transparent;
    /* keep the canvas above video */
    z-index: 2;
}

/*full screen video in the background of the HTML canvas*/
video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    -webkit-transform: translate(-50%, -50%);     
    -moz-transform: translate(-50%, -50%);  
    -ms-transform: translate(-50%, -50%);        
    /* behind canvas */ 
    z-index: 1;   
    opacity: 0.4;
}

/* hide video from mobile devices */
@media screen and (max-width: 1024px) {
    video {
        display: none; 
    } 
}